 <div class="row">
   <div class="col-md-4 order-md-2 mb-4">
     <h4 class="d-flex justify-content-between align-items-center mb-3">
       <span class="text-muted">Tổng quan chương trình khuyến mại</span>
     </h4>
     <ul class="list-group">
       <li *ngFor="let desc of discountCodeService.getDesc(myForm.value, nameData)" class="list-group-item">
         <span>{{desc}}</span>
         <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal(templateCopy)">
           <span aria-hidden="true">&times;</span>
         </button>
       </li>
     </ul>
   </div>
   <div class="col-md-8 order-md-1">
     <h4 class="mb-3">Thêm mới khuyến mãi</h4>
     <form *ngIf="myForm" class="needs-validation" [formGroup]="myForm" (submit)="onSubmit()" novalidate>
       <ul class="nav nav-tabs" id="myTab" role="tablist">
         <li class="nav-item">
           <a class="nav-link active" id="discount-code-tab" data-toggle="tab" href="#discount-code" role="tab"
             aria-controls="discount-code" aria-selected="true">Mã khuyến mãi</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" id="promotion-option-tab" data-toggle="tab" href="#promotion-option" role="tab"
             aria-controls="promotion-option" aria-selected="false">Tùy chọn khuyến mãi</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" id="apply-with-tab" data-toggle="tab" href="#apply-with" role="tab"
             aria-controls="apply-with" aria-selected="false">Áp dụng với</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" id="customer-group-tab" data-toggle="tab" href="#customer-group" role="tab"
             aria-controls="customer-group" aria-selected="false">Nhóm khách hàng</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" id="limit-tab" data-toggle="tab" href="#limit" role="tab" aria-controls="limit"
             aria-selected="false">Giới hạn sử dụng</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" id="time-tab" data-toggle="tab" href="#time" role="tab" aria-controls="time"
             aria-selected="false">Thời gian</a>
         </li>
       </ul>
       <div class="tab-content" id="myTabContent">
         <div class="tab-pane fade pt-3 show active" id="discount-code" role="tabpanel"
           aria-labelledby="discount-code-tab">
           <div class="form-group">
             <label>Mã khuyến mại</label>
             <label class="float-right"><a (click)="generateCode()" href="javascript:;">Sinh mã ngẫu nhiên</a></label>
             <input (change)="link.target.value = 1" type="text" class="form-control" formControlName="code"
               placeholder="Nhập mã khuyến mại">
             <span>Khách hàng sẽ nhập mã khuyến mại này ở màn hình thanh toán</span>
           </div>
         </div>
         <div class="tab-pane fade pt-3" id="promotion-option" role="tabpanel" aria-labelledby="promotion-option-tab">
           <div class="form-row">
             <div class="col-md-6">
               <label>Loại khuyến mại</label>
               <select formControlName="promotionOption" (change)="onChangePromotion()"
                 class="form-control custom-select">
                 <option *ngFor="let item of listPromotionOption; let i=index" value="{{item.id}}">{{item.name}}
                 </option>
               </select>
             </div>
             <div class="col-md-6">
               <label>Giá trị khuyến mại</label>
               <div class="input-group">
                 <input type="text" class="form-control" formControlName="promotionValue"
                   placeholder="Giá trị khuyến mại">
                 <div class="input-group-prepend">
                   <span class="input-group-text">{{unit}}</span>
                 </div>
               </div>
             </div>
             <div class="col-md-12 pt-2">
               <div class="custom-control custom-checkbox">
                 <input type="checkbox" class="custom-control-input" [checked]="isDisableMinValue"
                   (change)="onDisableMinValue()" id="isDisableMinValue">
                 <label class="custom-control-label" for="isDisableMinValue">Áp dụng với đơn hàng có tổng giá trị sản
                   phẩm thuộc chương trình khuyến mại từ</label>
               </div>
             </div>
             <div class="col-md-12">
               <div class="input-group">
                 <input type="text" class="form-control ml-25" formControlName="minValue"
                   placeholder="Tổng giá trị sản phẩm" [attr.disabled]="isDisableMinValue ? '' : null">
                 <div class="input-group-prepend">
                   <span class="input-group-text">đ</span>
                 </div>
               </div>
             </div>
           </div>
         </div>
         <div class="tab-pane fade pt-3" id="apply-with" role="tabpanel" aria-labelledby="apply-with-tab">
           <div *ngFor="let item of listApplyWith; let i=index" class="custom-control custom-radio">
             <input type="radio" class="custom-control-input" formControlName="applyWith" [id]="'applyWith' + item.id"
               [value]="item.id">
             <label class="custom-control-label" [for]="'applyWith' + item.id">{{item.name}}</label>
           </div>
           <div *ngIf="myForm.get('applyWith').value !== applyWithEnum.AllOrder" class="input-group">
             <input #searchProduct type="text" class="form-control">
             <div class="input-group-append">
               <button (click)="search(searchProduct)" type="button" class="btn btn-outline-secondary">Tìm kiếm</button>
             </div>
           </div>
         </div>
         <div class="tab-pane fade pt-3" id="customer-group" role="tabpanel" aria-labelledby="customer-group-tab">
           <div *ngFor="let item of listCustomerGroupEnum; let i=index" class="custom-control custom-radio">
             <input type="radio" class="custom-control-input" formControlName="customerGroup"
               [id]="'customerGroup' + item.id" [value]="item.id">
             <label class="custom-control-label" [for]="'customerGroup' + item.id">{{item.name}}</label>
           </div>
           <div *ngIf="myForm.get('customerGroup').value !== customerGroupEnum.All" class="input-group">
             <input #searchCustomerGroup type="text" class="form-control">
             <div class="input-group-append">
               <button (click)="search(searchCustomerGroup)" type="button" class="btn btn-outline-secondary">Tìm
                 kiếm</button>
             </div>
           </div>
         </div>
         <div class="tab-pane fade pt-3" id="limit" role="tabpanel" aria-labelledby="limit-tab">
           <div class="form-row">
             <div class="col-md-12 pt-2">
               <div class="custom-control custom-checkbox">
                 <input type="checkbox" class="custom-control-input" [checked]="isDisableNumberUsageLimits"
                   (change)="onDisableNumberUsageLimits()" id="isDisableNumberUsageLimits">
                 <label class="custom-control-label" for="isDisableNumberUsageLimits">Giới hạn số lần mã giảm giá được
                   áp
                   dụng</label>
               </div>
             </div>
             <div class="col-md-6 pt-3">
               <input type="text" class="form-control ml-25" formControlName="numberUsageLimits"
                 placeholder="Số lần mã giảm giá được áp dụng" [attr.disabled]="isDisableNumberUsageLimits ? '' : null">
             </div>
             <div class="col-md-12 pt-2">
               <div class="custom-control custom-checkbox">
                 <input type="checkbox" class="custom-control-input" id="customerUsageLimits"
                   formControlName="customerUsageLimits">
                 <label class="custom-control-label" for="customerUsageLimits">Giới hạn mỗi khách hàng chỉ được sử dụng
                   mà giảm giá này 1 lần</label>
               </div>
               <span class="ml-25">Kiểm tra bằng email</span>
             </div>
           </div>
         </div>
         <div class="tab-pane fade pt-3" id="time" role="tabpanel" aria-labelledby="time-tab">
           <div class="form-group row">
             <label class="col-sm-4 col-form-label">Thời gian bắt đầu</label>
             <div class="col-sm-8">
               <nz-date-picker nzShowTime nzFormat="dd/MM/yyyy HH:mm" formControlName="startTime">
               </nz-date-picker>
             </div>
           </div>
           <div class="form-group row">
             <label class="col-sm-4 col-form-label">Thời gian kết thúc</label>
             <div class="col-sm-8">
               <nz-date-picker nzShowTime nzFormat="dd/MM/yyyy HH:mm" formControlName="endTime">
               </nz-date-picker>
             </div>
           </div>
         </div>
       </div>
       <hr class="mb-4">
       <div class="row float-right">
         <button type="button" (click)="cancel()" class="btn btn-light mr-2">Hủy</button>
         <button type="submit" class="btn btn-info" type="submit">Lưu</button>
       </div>
     </form>
   </div>
 </div>


 <ng-template #templateConfirm>
   <div class="modal-header">
     <h4 class="modal-title pull-left">Ngừng khuyến mãi</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal(templateConfirm)">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     Bạn có chắc chắn muốn ngừng khuyến mãi? Khuyến mãi sẽ được cho hết hạn ngay.
   </div>
   <div class="modal-footer">
     <button (click)="closeModal(templateConfirm)" type="button" class="btn btn-light" data-dismiss="modal">Hủy</button>
     <button (click)="stop(templateConfirm)" type="button" class="btn btn-info">Ngừng</button>
   </div>
 </ng-template>

 <ng-template #templateCopy>
   <div class="modal-header">
     <h4 class="modal-title pull-left">Linh chia sẻ khuyến mãi</h4>
     <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal(templateCopy)">
       <span aria-hidden="true">&times;</span>
     </button>
   </div>
   <div class="modal-body">
     <p>Hãy chia sẻ link mã khuyến mãi qua email hay mạng xã hội. Khuyến mãi của bạn sẽ được tự động áp dụng ở trang
       thanh
       toán.</p>
     <div class="row">
       <div class="col-md-9">
         <input #link type="text" class="form-control" value="https://angular.io/discount/{{myForm.get('code').value}}"
           readonly>
       </div>
       <div class="col-md-3">
         <button id="btn-copy" (mouseout)="btnCopy='Copy link'" (click)="copy(link);btnCopy='Copied'" type="button"
           class="btn btn-info">{{btnCopy}}</button>
       </div>
     </div>
   </div>
   <div class="modal-footer">
     <button (click)="closeModal(templateCopy)" type="button" class="btn btn-light" data-dismiss="modal">Hủy</button>
   </div>
 </ng-template>
