<div class="row mb-4">
  <div class="col-6 float-left">
    <h2>Khuyến mãi</h2>
  </div>
  <div class="col-6 float-right">
    <div class="float-right">
      <a class="btn btn-info" [routerLink]="['add']">Tạo khuyến mại</a>
    </div>
  </div>
</div>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a (click)="pageParams.status = null; getData()"
      [ngClass]="{'active': pageParams.status === null || pageParams.status === undefined}" class="nav-link"
      href="javascript:;">Tất cả khuyến mãi</a>
  </li>
  <li *ngFor="let status of discountCodeService.listStatus" class="nav-item">
    <a (click)="pageParams.status = status.id; getData()" [ngClass]="{'active': pageParams.status === status.id}"
      class="nav-link" href="javascript:;">{{status.name}}</a>
  </li>
</ul>
<div class="input-group pt-3">
  <div class="input-group-append">
    <button (click)="pageParams.code = searchProduct.value; getData()" type="button"
      class="btn btn-outline-secondary">Lọc khuyến
      mãi</button>
  </div>
  <input #searchProduct type="text" class="form-control" placeholder="Tìm kiếm theo mã khuyến mãi">
</div>
<div *ngIf="dataPage?.discountCodes.length" class="row mt-2">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-light">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="checkAll" [checked]="isAllChecked"
                    (change)="onCheckAll($event.target.checked)">
                  <label class="custom-control-label" for="checkAll">{{selectedData.length || null}}</label>
                </div>
              </button>
              <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu">
                <a (click)="updateStatus(actionEnum.Continue)" class="dropdown-item" href="javascript:;">Tiếp tục khuyến
                  mãi</a>
                <a (click)="updateStatus(actionEnum.Stop)" class="dropdown-item" href="javascript:;">Ngừng khuyến
                  mãi</a>
                <a (click)="delete()" class="dropdown-item" href="javascript:;">Xóa khuyến mãi</a>
                <a *ngIf="selectedData.length === 1" class="dropdown-item" [routerLink]="['edit', selectedData[0]]">Sửa
                  khuyến mãi</a>
              </div>
            </div>
          </th>
          <th scope="col">Chi tiết</th>
          <th scope="col">Trạng thái</th>
          <th class="th-80" scope="col">Đã dùng</th>
          <th scope="col">Bắt đầu</th>
          <th class="th-80" scope="col">Kết thúc</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td class="text-center">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" (change)="onCheck($event.target.checked, item.id)"
                [checked]="isSelected(item.id)" id="{{item.id}}">
              <label class="custom-control-label" for="{{item.id}}"></label>
            </div>
          </td>
          <td>
            <div><a (click)="openModal(templateShare, item.code)" href="javascript:;">{{item.code}}</a></div>
            <div>
              <span *ngFor="let desc of discountCodeService.getDesc(item, false); let i=index">
                <ng-container *ngIf="i === 0; else elseTemplate">
                  {{desc}}&nbsp;
                </ng-container>
                <ng-template #elseTemplate>
                  &bull; &nbsp;{{desc}}&nbsp;
                </ng-template>
              </span>
            </div>
          </td>
          <td><span class="badge" [ngClass]="{'badge-secondary': item.status === statusEnum.NotYetApplied,'badge-success': item.status ===
              statusEnum.Applied,'badge-warning':
              item.status === statusEnum.StopApplying}">{{item.status | discountCodeStatus}}</span></td>
          <td class="text-center">
            {{item.numberUsageLimits ? (item.amountUsed | number) + '/' + (item.numberUsageLimits | number): item.amountUsed | number}}
          </td>
          <td>{{item.startTime | date:'dd/MM/yyyy'}}</td>
          <td>{{item.endTime ? (item.endTime | date:'dd/MM/yyyy') : 'Chưa rõ'}}</td>
        </tr>
      </tbody>
    </table>
    <app-pagination [paging]="dataPage" (onChange)="getData($event)"></app-pagination>
  </div>
</div>

<ng-template #templateShare>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Linh chia sẻ khuyến mãi</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hãy chia sẻ link mã khuyến mãi qua email hay mạng xã hội. Khuyến mãi của bạn sẽ được tự động áp dụng ở trang
      thanh
      toán.</p>
    <div class="row">
      <div class="col-md-9">
        <input #link type="text" class="form-control" value="https://angular.io/discount/{{copyCode}}" readonly>
      </div>
      <div class="col-md-3">
        <button id="btn-copy" (click)="copy(link)" type="button" class="btn btn-info">Copy link</button>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button (click)="closeModal()" type="button" class="btn btn-light" data-dismiss="modal">Hủy</button>
  </div>
</ng-template>
