<div class="row mb-4">
  <div class="col-6 float-left">
    <h2>Khuyến mãi</h2>
  </div>
  <div class="col-6 float-right">
    <div class="float-right">
      <a class="btn btn-info" [routerLink]="['add']">Tạo khuyến mại</a>
    </div>
  </div>
</div>
<div *ngIf="dataPage" class="row mt-2">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" class="text-center">
            <div class="btn-group">
              <button type="button" class="btn btn-light">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="checkAll" [checked]="isAllChecked"
                    (change)="onCheckAll($event.target.checked)">
                  <label class="custom-control-label" for="checkAll">{{selectedData.length || null}}</label>
                </div>
              </button>
              <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Tiếp tục khuyến mãi</a>
                <a class="dropdown-item" href="#">Ngừng khuyến mãi</a>
                <a class="dropdown-item" href="#">Xóa khuyến mãi</a>
              </div>
            </div>
          </th>
          <th scope="col">Chi tiết</th>
          <th scope="col">Trạng thái</th>
          <th class="th-80" scope="col">Đã dùng</th>
          <th scope="col">Bắt đầu</th>
          <th class="th-80" scope="col">Kết thúc</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td class="text-center">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" (change)="onCheck($event.target.checked, item.id)"
                [checked]="isSelected(item.id)" id="{{item.id}}">
              <label class="custom-control-label" for="{{item.id}}"></label>
            </div>
          </td>
          <td>
            <span *ngFor="let desc of discountCodeService.getDesc(item, null, false); let i=index">
              <ng-container *ngIf="i === 0; else elseTemplate">
                {{desc}}&nbsp;
              </ng-container>
              <ng-template #elseTemplate>
                &bull; &nbsp;{{desc}}&nbsp;
              </ng-template>

            </span>
          </td>
          <td><span class="badge" [ngClass]="{'badge-secondary': 0 === statusEnum.NotYetApplied,'badge-success': 1 === statusEnum.NotYetApplied,'badge-warning':
              1 === statusEnum.NotYetApplied}">{{item.status | discountCodeStatus}}</span></td>
          <td class="text-center">
            {{item.numberUsageLimits ? (item.amountUsed | number) + '/' + (item.numberUsageLimits | number): item.amountUsed | number}}
          </td>
          <td>{{item.startTime | date:'dd/MM/yyyy'}}</td>
          <td>{{item.endTime ? (item.endTime | date:'dd/MM/yyyy') : 'Chưa rõ'}}</td>
        </tr>
      </tbody>
    </table>
    <app-pagination [paging]="dataPage"></app-pagination>
  </div>
</div>
